<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        FakePinterest - Cadastro
    </title> 
</head>
<body>
    <h1>Cadastro</h1>
    <form method="POST">
        {{ form.csrf_token }}

        <div>{{ form.username.label() }} {{ form.username() }} {{ form.email.label() }} {{ form.email() }}</div>
        <div>{{ form.senha.label() }} {{ form.senha() }} {{ form.confirmacao_senha.label() }} {{ form.confirmacao_senha() }}</div>
        <div>{{ form.botao_confirmacao }}</div>
        <a href="{{ url_for('login') }}">Login</a>
    </form>
</body>
</html>